<c-sidebar #sidebar1="cSidebar" class="d-print-none sidebar sidebar-fixed border-end" colorScheme="dark" id="sidebar1" visible>
  
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16"></svg>
  <img src="/assets/images/logo.png" alt="Descripción de la imagen" class="img-fluid position-absolute" style="width: 150px; bottom: 670px; left: 40px; margin-bottom: 4px;" />
  <img src="/assets/images/WW.png" alt="Descripción de la imagen" class="img-fluid position-absolute" style="width: 160px; bottom: 35px; left: 50px; margin-bottom: 2px;"/>

  <ng-scrollbar #scrollbar="ngScrollbar" (updated)="onScrollbarUpdate(scrollbar.state)" class="overflow" pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav #overflow [navItems]="navItems" dropdownMode="close" compact />
  </ng-scrollbar>

  @if (!sidebar1.narrow) {
    <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top d-none d-lg-flex" toggle="unfoldable" style="cursor: pointer;">
      <button cSidebarToggler aria-label="Toggle sidebar fold"></button>
    </c-sidebar-footer>
  }
</c-sidebar>

<div class="wrapper d-flex flex-column min-vh-100">

  <app-default-header [cShadowOnScroll]="'sm'" class="mb-4 d-print-none header header-sticky p-0 shadow-sm" position="sticky" sidebarId="sidebar1"></app-default-header>

  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto px-4">
      <router-outlet></router-outlet>
    </c-container>
  </div>

  <app-default-footer></app-default-footer>

</div>
