<!-- <form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm" role="form">
    <div class="mb-3 mt-3">
        <input type="password" class="form-control" placeholder="Ingresa tu nueva Contraseña" formControlName="password">
        <div *ngIf="getControl('password').invalid && ngForm.submitted" class="text-left">
            <label class="text-danger text-xs">Contraseña es requerido o invalido</label>
        </div>
    </div>

    <div class="mb-3 mt-3 text-end">
        <button type="submit" class="btn btn-dark btn-sm">Guardar</button>
    </div>
</form> -->