<div class="my-2 d-flex justify-content-between">
  <div class="fw-bold">
    <svg (click)="this.location.back()" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
      class="bi bi-box-arrow-left mb-2 mr-2" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
      <path fill-rule="evenodd"
        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
    </svg>
    {{ (this.id ? "Actualizar" : "Crear") + " Tarea" }}
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm" role="form">
  <div class="card p-2">
    <div class="card-header bg-white">
      <div class="d-flex justify-content-between">
        <strong>Información</strong>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button class="btn btn-outline-dark btn-sm" type="submit">
              Guardar
            </button>
          </div>
          <div class="btn-group" role="group" aria-label="Second group">
            <button (click)="this.location.back()" class="btn btn-sm btn-outline-secondary" type="button">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <label for="inputState" class="form-label text-dark">Nombre</label>
          <input type="text" class="form-control form-control-sm" placeholder="Ingrese el Nombre de la tarea"
            formControlName="name" />
          <div *ngIf="getControl('name').invalid && ngForm.submitted" class="text-left">
            <label class="text-danger text-xs">Nombre es requerido o invalido</label>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <label for="inputState" class="form-label text-dark">Descripcion</label>
          <input type="text" class="form-control form-control-sm" placeholder="Ingrese la Descripcion"
            formControlName="description" />
          <div *ngIf="getControl('description').invalid && ngForm.submitted" class="text-left">
            <label class="text-danger text-xs">Descripcion es requerido o invalido</label>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <label for="inputState" class="form-label text-dark">Estado</label>
          <select class="form-select form-select-sm" formControlName="stateId">
            <ng-container *ngFor="let state of states">
              <option [value]="state.id">{{state.name}}</option>
            </ng-container>
          </select>
          <div *ngIf="getControl('stateId').invalid && ngForm.submitted" class="text-left">
            <label class="text-danger text-xs">Estado es requerido o invalido</label>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-3 col-sm-6">
          <label for="inputState" class="form-label text-dark">Prioridad</label>
          <select class="form-select form-select-sm" formControlName="priorityId">
            <ng-container *ngFor="let priority of prioritys">
              <option [value]="priority.id">{{priority.name}}</option>
            </ng-container>
          </select>
          <div *ngIf="getControl('priorityId').invalid && ngForm.submitted" class="text-left">
            <label class="text-danger text-xs">Prioridad es requerido o invalido</label>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <label for="inputState" class="form-label text-dark">Fecha de creación</label>
          <input type="date" class="form-control form-control-sm" placeholder="Ingrese la fecha inicial"
            formControlName="createAt" />
          <div *ngIf="getControl('createAt').invalid && ngForm.submitted" class="text-left">
            <label class="text-danger text-xs">Fecha de creación es requerida o invalida</label>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <label for="inputState" class="form-label text-dark">Fecha de entrega</label>
          <input type="date" class="form-control form-control-sm" placeholder="Ingrese la fecha final"
            formControlName="limit" />
          <div *ngIf="getControl('limit').invalid && ngForm.submitted" class="text-left">
            <label class="text-danger text-xs">Fecha de entrega es requerida o invalida</label>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>