<div class="my-2 d-flex justify-content-between">
    <div class="fw-bold">Configuraciones</div>
</div>

<!--Roles-->
<!-- <div class="card p-2 mt-2">
    <div class="card-header bg-white">
        <div class="d-flex justify-content-between">
            <strong class="aling-self-center">Roles</strong>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="btn-group">
                    <button
                        (click)="this.openModal($event); this.modalSettings(principalConstants.first, this.listRols);"
                        class="btn btn-outline-danger btn-sm ml-2" type="button">
                        Crear
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body p-0 m-0">
            <div class="table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of this.listRols; track item;){
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Acciones">
                                    <div class="btn-group" role="group" aria-label="Editar" cTooltip="Editar">
                                        <button type="button" class="btn btn-sm bg-white"
                                            (click)="this.openModal($event); this.modalSettings(principalConstants.first, this.listRols, item.id);">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path
                                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Eliminar" cTooltip="Eliminar">
                                        <button type="button" class="btn btn-sm bg-white"
                                            (click)="this.delete(item.id, principalConstants.first)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<!--Priorities-->
<div class="card p-2 mt-2">
    <div class="card-header bg-white">
        <div class="d-flex justify-content-between">
            <strong class="aling-self-center">Prioridades</strong>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="btn-group">
                    <button
                        (click)="this.openModal($event); this.modalSettings(principalConstants.second, this.listPriorities);"
                        class="btn btn-outline-danger btn-sm ml-2" type="button">
                        Crear
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body p-0 m-0">
            <div class="table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of this.listPriorities; track item;){
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Acciones">
                                    <div class="btn-group" role="group" aria-label="Editar" cTooltip="Editar">
                                        <button type="button" class="btn btn-sm bg-white"
                                            (click)="this.openModal($event); this.modalSettings(principalConstants.second, this.listPriorities, item.id);">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path
                                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Eliminar" cTooltip="Eliminar">
                                        <button type="button" class="btn btn-sm bg-white"
                                            (click)="this.delete(item.id, principalConstants.second)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Status-->
<div class="card p-2 mt-2">
    <div class="card-header bg-white">
        <div class="d-flex justify-content-between">
            <strong class="aling-self-center">Estados</strong>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="btn-group">
                    <button
                        (click)="this.openModal($event); this.modalSettings(principalConstants.third, this.listStatus);"
                        class="btn btn-outline-danger btn-sm ml-2" type="button">
                        Crear
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body p-0 m-0">
            <div class="table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of this.listStatus; track item;){
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Acciones">
                                    <div class="btn-group" role="group" aria-label="Editar" cTooltip="Editar">
                                        <button type="button" class="btn btn-sm bg-white"
                                            (click)="this.openModal($event); this.modalSettings(principalConstants.third, this.listStatus, item.id);">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path
                                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Eliminar" cTooltip="Eliminar">
                                        <button type="button" class="btn btn-sm bg-white"
                                            (click)="this.delete(item.id, principalConstants.third)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--modal change-->
<ng-container *ngIf="modalDisplay$ | async as modalDisplay;">
    <div [ngStyle]="{'display':modalDisplay}" (clickOnSide)="this.closeModalMethod()" class="modal" tabindex="-1"
        role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card p-3">
                        <div class="card-header bg-white">
                            <div class="d-flex justify-content-between">
                                <strong class="aling-self-center">{{this.getTitle()}}</strong>
                                <div class="text-end">
                                    <button (click)="this.closeModalMethod()" type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                        <app-managger *ngIf="selected$ | async as selected;" [id]="this.idModal" [List]="this.listModal"
                            [title]="this.titleModal" (closeModal)="this.closeModalMethod();" (onReload)="this.onReload();"></app-managger>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>